
<link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.css">
<lin rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick-theme.min.css">
<div class="page-width">
 <div class="wrapper">


<p class="text-title text-center" style="margin-bottom:48px;text-align: left;">{{ section.settings.title }}</p>

    {%- assign collection = collections[section.settings.collection] -%}

  {% case section.settings.grid %}
    {% when 2 %}
      {%- assign max_height = 530 -%}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign max_height = 345 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign max_height = 250 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign max_height = 195 -%}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
  {% endcase %}

  {%- assign product_limit = 12 -%}

      <div class="carousel" id="bg-slider">
    
      {% for product in collection.products limit: product_limit %}
          <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
            <h1 class="card__heading" style="font-size: 20px;">{{ product.title }}</h1>
            <img src="{{ product.featured_image | img_url: '600x600' }}" alt="{{product.featured_image.alt}}" />
                    <form method="post" action="/cart/add">
              <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
              <input min="1" type="number" id="quantity" name="quantity" value="1" style="visibility:hidden"/>
              <input type="submit" value="Add to cart" class="button button--primary" style="  position: relative; right: 90px; bottom: 22px;" />
            </form>
          </div>
    {% else %}

  
    {% endfor %}
    
</div>
 
</div>


    <style>
ul.slick-dots {
    display: none !important;
}
button.slick-prev.slick-arrow {
    display: none !important;
}
      button.slick-next.slick-arrow, button.slick-next.slick-arrow  {
    display: none !important;
}

      .slick-slide img {
    width: 100%;
    border: 2px solid #fff;
    height: 300px;
}
      .wrapper{
  width:100%;
  padding-top: 20px;
  text-align:center;
}
h2{
  font-family:sans-serif;
  color:#fff;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size:20px;
  color:white;
}


      
    </style>


<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.8/slick.min.js"></script> 
<script>
  $(document).ready(function(){
  $('.carousel').slick({
  slidesToShow: {{ section.settings.grid }},
  dots:true,
  centerMode: true,
    responsive: [
                {
                    breakpoint: 768, // mobile breakpoint (e.g., 768px)
                    settings: {
                        slidesToShow: 1
                    }
                }
            ]
  });
});
</script>
    
{% schema %}
{
  "name": {
    "en": "Product Slider"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "en": "Title"
      },
      "default": {
        "en": "Product Slider"
      }
    },
    {
      "id": "collection",
      "type": "collection",
      "label": {
        "en": "Collection"
      }
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "en": "Products per slide"
      },
      "min": 2,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "en": "Show product vendors"
      },
      "default": false
    }
  ],
  "presets": [
    {
      "name": {
		"en": "Product Slider"
      },
      "category": {
        "en": "Collection"
      }
    }
  ]
}
{% endschema %}
